@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

:root {
    --navbar-background-color: transparent;
    --navbar-height: 7vh;
    --text-color: #ecf2f8;
}

.navbar-container {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    height: 10vh;
    width: 100%;
    background-color: var(--navbar-background-color);
    margin-bottom: calc(var(--page-height) / 20)
}

.navbar-container section {
    padding: 1em 1.5em 1em 1.5em;
    display: flex;
    align-items: center;
}

.title-container a {
    text-decoration: none;
    color: var(--text-color);
}

.title-container h1 {
    font-family: 'Mulish', sans-serif;
    font-size: calc(var(--navbar-height) / 2.5);
    cursor: pointer;
}

.title-container h1:hover {
    color: #dae6f1;
}

.search-bar {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1em;
    width: 100%;
    backdrop-filter: blur(4px) saturate(130%);
}

.search-bar input {
    border: 0;
    outline: none;
    background: transparent;
    flex: 1; /* 100% wielkości flexboxa */
    font-size: calc(var(--navbar-height) / 4.5);
    color: var(--text-color);
}

.search-bar input::placeholder {
    color: var(--text-color);
}

.search-bar button {
    border: 0;
    border-radius: 60px;
    height: calc(var(--navbar-height) / 4);
    width: calc(var(--navbar-height) / 4);
    background-color: #72889d;
    cursor: pointer;
}

.search-bar button img{
    width: calc(var(--navbar-height) / 3);
}

.user-container {
    justify-content: space-between;
}

.icons-container {
    display: flex;
}

.icons-container img {
    width: calc(var(--navbar-height) * 1.1);
    padding: 0 0.5em;
}

.button-container {
    display: flex;
    justify-content: end;
    width: 100%;
}

.button-container div {
    display: flex;
}

.button-container div h1{
    padding: 0 calc(var(--navbar-height) * 0.3) 0 0;
    margin: auto;
    color: var(--text-color);
}

.button-container button {
    height: calc(var(--navbar-height) * 0.5);
    width: calc(var(--navbar-height) * 1.5);
    margin: 0 calc(var(--navbar-height) * 0.2) 0 calc(var(--navbar-height) * 0.2);
    border-radius: 25px;
    border: 0;
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px) saturate(130%);
    cursor: pointer;
}

.button-container button:hover {
    border: 2px solid var(--text-color);
    background: rgba(255, 255, 255, 0.1);
}

.navbar-icon {
    margin: 0 calc(var(--page-height) / 40) 0 calc(var(--page-height) / 40);
    width: calc(var(--page-height) / 25);
    height: calc(var(--page-height) / 25);
    color: var(--text-color);
}

.navbar-icon:hover {
    color: #72889d;
}

.navbar-spacer {
    width: 100%;
    height: 2px;
    background-color: wheat;
}






