* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 200vh;
    background-image: linear-gradient(rgba(0, 8, 51, 0.8), rgba(0, 8, 51, 0.8)), url("images/background-image.jpg");
    /*background-image: linear-gradient(rgba(0, 99, 134, 0.8), rgba(0, 99, 134, 0.8)), url("images/background-image.jpg"); */
}