footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    border-top: 1px solid white;
}

.footer-content p {
    text-align: center;
}